<!DOCTYPE html>
<html>
<head>
  <title>Tennis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

        <h1><%= @score %></h1>

    <form method="POST" action="/server">
        <input type="submit" value="Server scores"></input>
    </form>
    <form method="POST" action="/receiver">
        <input type="submit" value="Receiver scores"></input>
    </form>
</body>
</html>

